extends layout

block content
  .ui.container.center.aligned
    if packages.length === 0
      h1.padded You currently have no tracking numbers added. <br /> Click below to get started!
      br
      button.ui.huge.tracking.button.blue Add Tracking Number
    else
      .ui.four.column.relaxed.grid.slightly-padded
        .column
          .ui.card
            .ui.blue.ribbon.label LET'S GET STARTED!
            .content
              .header New Package Tracking
              .description Want to add a new package?
            .ui.bottom.attached.blue.tracking.button
              i.add.icon
              span Add Tracking Number
        for package in packages
          .column
            .ui.card
              .ui.blue.ribbon.label #{package.method}
              .content
                .header #{package.tracking_number}
                .description Arriving from #{package.from.City}, #{package.from.StateProvinceCode}
              .ui.buttons
                a.ui.brown.button(href=`/track/${package.tracking_number}`)
                  i.location.arrow.icon
                  span View
                .or
                a.ui.brown.remove.button(data-tracking-number=`${package.tracking_number}`, onclick='$("#remove_tracking_number").val(this.getAttribute("data-tracking-number"))')
                  i.delete.icon
                  span Remove

  .ui.tracking.modal
    .ui.icon.header
      i.archive.icon
      span Add Tracking Number
    .content
      p Enter your UPS tracking number below to add it to your dashboard!
      #tracking_number_warning.ui.warning.message.hidden
        .header
      .ui.fluid.icon.large.input
        input#tracking_number(type="text", placeholder="UPS Tracking Number")
        i.search.icon
    .actions
      .ui.red.cancel.button
        i.remove.icon
        span Cancel
      .ui.green.ok.button
        i.checkmark.icon
        span Add

  .ui.remove.modal
    .ui.icon.header
      i.archive.icon
      span Remove Tracking Number
    .ui.fluid.icon.large.disabled.hidden.input
      input#remove_tracking_number(type="hidden")
    .content
      p Are you sure you want to remove this tracking number?
    .actions
      .ui.red.cancel.button
        i.remove.icon
        span Cancel
      .ui.green.ok.button
        i.checkmark.icon
        span Remove

  block scripts
    script(src='/assets/js/modal.js')
